@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  /* background-color: #242c43; */
  color: #1c1c1e;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 80px auto 0 auto;
  padding: 0 24px;
}

.h-container {
  max-width: 900px;
  margin: 80px auto 0 auto;
  padding: 0 12px 16px 12px;
  overflow-x: scroll;
  white-space: nowrap;
}

.logo {
  width: 120px;
  height: 120px;
}

h1 {
  font-size: 40px;
}

.app {
  width: 260px;
  height: auto;
  margin: 0 12px;
}
