@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background-color: #1c1c1e;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 80px auto 0 auto;
  padding: 0 24px;
  text-align: center;
}

.logo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

p {
  margin: 0;
}

.scene {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
